.line-point-color-1 {
    color: hsl(216, 51%, 46%);
}
.line-point-color-2 {
    color: hsl(27, 70%, 52%);
}
.line-point-color-3 {
    color: hsl(133, 42%, 42%);
}
.line-point-color-4 {
    color: hsl(359, 69%, 47%);
}
.line-point-color-5 {
    color: hsl(280, 2%, 32%);
}
.line-point-color-6 {
    color: hsl(264, 34%, 45%);
}
.line-point-color-7 {
    color: hsl(358, 60%, 36%);
}
.line-point-color-8 {
    color: hsl(54, 42%, 41%);
}
