.color-1 {
    color: hsl(218, 46%, 62%);
}
.color-2 {
    color: hsl(25, 100%, 65%);
}
.color-3 {
    color: hsl(94, 41%, 54%);
}
.color-4 {
    color: hsl(359, 57%, 60%);
}
.color-5 {
    color: hsl(180, 2%, 51%);
}
.color-6 {
    color: hsl(278, 27%, 53%);
}
.color-7 {
    color: hsl(12, 33%, 51%);
}
.color-8 {
    color: hsl(57, 85%, 43%);
}
