.color-1 {
    color:#7293cb;
}
.color-2 {
    color:#ff974c;
}
.color-3 {
    color:#84ba5b;
}
.color-4 {
    color:#d35e60;
}
.color-5 {
    color:#808585;
}
.color-6 {
    color:#9067a7;
}
.color-7 {
    color:#ab6857;
}
.color-8 {
    color:#ccc210;
}
