.bar-graph-color-1 {
  color: #7293CB;
}
.bar-graph-color-2 {
  color: #FF974C;
}
.bar-graph-color-3 {
  color: #84BA5B;
}
.bar-graph-color-4 {
  color: #D35E60;
}
.bar-graph-color-5 {
  color: #808585;
}
.bar-graph-color-6 {
  color: #9067A7;
}
.bar-graph-color-7 {
  color: #AB6857;
}
.bar-graph-color-8 {
  color: #CCC210;
}
