// optimal colors for lines and points
$line-point-color-1: #396AB1;
$line-point-color-2: #DA7C30;
$line-point-color-3: #3E9651;
$line-point-color-4: #CC2529;
$line-point-color-5: #535154;
$line-point-color-6: #6B4C9A;
$line-point-color-7: #922428;
$line-point-color-8: #948B3D;
