// optimal colors for bars
$bar-graph-color-1: #7293CB;
$bar-graph-color-2: #FF974C;
$bar-graph-color-3: #84BA5B;
$bar-graph-color-4: #D35E60;
$bar-graph-color-5: #808585;
$bar-graph-color-6: #9067A7;
$bar-graph-color-7: #AB6857;
$bar-graph-color-8: #CCC210;
